// here only variables for body 
body, html {
 scroll-behavior: smooth;
width: 100%;
height: auto;
min-height: 100%;
overflow-x: hidden; //скрываем прокрутку за рамки контейнера-ограничителя;
font-family: "DM Sans", sans-serif;
font-size: 16px;
line-height: auto;
font-weight: medium; 
letter-spacing: 0%;
}



   
