.started {
    margin-top: $margin-y;
    @include tablet {
        margin-top: calc(1000px + 15%);
    }

    // .started__content

    &__content {
        padding-block: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;

        @include tablet {
            justify-content: center;
            row-gap: 2.1rem;
            flex-flow: row wrap-reverse;
        }

    }

    // .started__title

    &__title {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 3.2rem;
        @include tablet {
            justify-content: center;
            align-items: center;
        }
        h3 {
            font-size: 36px;
            font-weight: bold;
            text-align: left;
            @include tablet {
                font-size: calc(36px / 1.618);
                text-align: center;
            }
            
        }
        p {
            height: 48px;
            max-width: 98vw;
            width: 400px;
            color: var(--gray);

        }

    }

    // .started__picture

    &__picture {
        width: 568px;
        height: 454px;
        @include tablet {
            margin-inline: auto;
            display: block;
            width: calc(568px / 1.618);
            height: calc(454px / 1.618);
        }
    }
}

